# Nauman Asif | 2021510
### Cloud and Distributed Computing - CE408
### Assignment # 3

Exploratory Data Analysis (EDA) on Netflix TV Shows and Movies Dataset

### Initializing Spark

In [8]:
import findspark
findspark.init()  # Initialize findspark to locate Spark installation

from pyspark.sql import SparkSession
from pyspark.sql.functions import col, count, when, isnan, avg

# Create a Spark session
spark = SparkSession.builder.appName("Netflix EDA").getOrCreate()

### Loading the Dataset

In [9]:
file_path = "titles.csv"  # Dataset's path
netflix_df = spark.read.csv(file_path, header=True, inferSchema=True)

# Display the schema
netflix_df.printSchema()

# Show a sample of the data
netflix_df.show(5)

root
 |-- id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- type: string (nullable = true)
 |-- description: string (nullable = true)
 |-- release_year: string (nullable = true)
 |-- age_certification: string (nullable = true)
 |-- runtime: string (nullable = true)
 |-- genres: string (nullable = true)
 |-- production_countries: string (nullable = true)
 |-- seasons: string (nullable = true)
 |-- imdb_id: string (nullable = true)
 |-- imdb_score: string (nullable = true)
 |-- imdb_votes: string (nullable = true)
 |-- tmdb_popularity: string (nullable = true)
 |-- tmdb_score: string (nullable = true)

+--------+--------------------+-----+--------------------+------------+-----------------+-------+--------------------+--------------------+-------+---------+----------+----------+---------------+----------+
|      id|               title| type|         description|release_year|age_certification|runtime|              genres|production_countries|seasons|  imdb_id|imdb_score|imdb_votes|tmdb_popularity|tmdb_score|
+--------+--------------------+-----+--------------------+------------+-----------------+-------+--------------------+--------------------+-------+---------+----------+----------+---------------+----------+
|ts300399|Five Came Back: T...| SHOW|"This collection ...|        1945|            TV-MA|     51|   ['documentation']|              ['US']|    1.0|     NULL|      NULL|      NULL|            0.6|      NULL|
| tm84618|         Taxi Driver|MOVIE|A mentally unstab...|        1976|                R|    114|  ['drama', 'crime']|              ['US']|   NULL|tt0075314|       8.2|  808582.0|         40.965|     8.179|
|tm154986|         Deliverance|MOVIE|Intent on seeing ...|        1972|                R|    109|['drama', 'action...|              ['US']|   NULL|tt0068473|       7.7|  107673.0|          10.01|       7.3|
|tm127384|Monty Python and ...|MOVIE|"King Arthur, acc...|        1975|               PG|     91|['fantasy', 'acti...|              ['GB']|   NULL|tt0071853|       8.2|  534486.0|         15.461|     7.811|
|tm120801|     The Dirty Dozen|MOVIE|12 American milit...|        1967|             NULL|    150|   ['war', 'action']|        ['GB', 'US']|   NULL|tt0061578|       7.7|   72662.0|         20.398|       7.6|
+--------+--------------------+-----+--------------------+------------+-----------------+-------+--------------------+--------------------+-------+---------+----------+----------+---------------+----------+
only showing top 5 rows

### Counting the Missing Values

In [10]:
missing_values = netflix_df.select([
    count(when(col(c).isNull() | isnan(c), c)).alias(c) for c in netflix_df.columns
])
missing_values.show()

+---+-----+----+-----------+------------+-----------------+-------+------+--------------------+-------+-------+----------+----------+---------------+----------+
| id|title|type|description|release_year|age_certification|runtime|genres|production_countries|seasons|imdb_id|imdb_score|imdb_votes|tmdb_popularity|tmdb_score|
+---+-----+----+-----------+------------+-----------------+-------+------+--------------------+-------+-------+----------+----------+---------------+----------+
|  0|    3|  18|         40|          70|             2594|    121|    97|                  96|   3684|    541|       575|       600|            223|       418|
+---+-----+----+-----------+------------+-----------------+-------+------+--------------------+-------+-------+----------+----------+---------------+----------+

### Summary Statistics

In [11]:
netflix_df.describe().show()

+-------+--------------------+------------------+------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+--------------------+--------------------+------------------+
|summary|                  id|             title|              type|         description|        release_year|   age_certification|             runtime|              genres|production_countries|             seasons|             imdb_id|       imdb_score|          imdb_votes|     tmdb_popularity|        tmdb_score|
+-------+--------------------+------------------+------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+--------------------+--------------------+------------------+
|  count|                5929|              5926|              5911|                5889|                5859|                3335|                5808|                5832|                5833|                2245|                5388|             5354|                5329|                5706|              5511|
|   mean|                NULL|           1616.05|2012.3333333333333|   789.9047619047619|  2012.3034790365746|             1877.31|   88.92018446257538|   558.7476830985916|   580.9028571428571|  45.406237911025144|   7280.358057435896|8.392124229583954|  21988.772907273415|    692.037306005985|113.67703655638857|
| stddev|                NULL| 795.1366300997055|  7.63167244071858|   980.5222539423521|   91.60854245292626|     507.87472994148|  155.03672250812525|   850.4691443778877|    880.355291085618|  1048.4053257856522|   59555.68594623602|54.31401049158492|   86472.19980544285|  31235.159897654044| 5093.114933424773|
|    min| Adea‘s uncle is ...| 'documentation']"|    2008 in Japan.|    2007. As of 2008| ""Married..."" f...| ""Bachelor"". In...|               2008.| 20 years before ...| ""La Chiqui"" ge...| ABC in Australia...| PRAY AWAY chroni...|    British India| López's little d...| after making her...| López visits Toro|
|    max|             ts99814|   뽀로로 동화나라|            ['US']|﻿As Pacworlders e...|          tt21063170|                  []|['scifi', 'animat...|           tt9826314|           tt8107988|           tt7211600|           tt9916362|        tt9522354|           tt9426212|           tt9150970|         tt8786466|
+-------+--------------------+------------------+------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+--------------------+--------------------+------------------+

### Distribution Analysis

In [12]:
# Count unique values in categorical columns
for column in ["type", "imdb_score", "release_year"]:
    netflix_df.groupBy(column).count().orderBy(col("count").desc()).show(5)

+--------------------+-----+
|                type|count|
+--------------------+-----+
|               MOVIE| 3744|
|                SHOW| 2106|
|                NULL|   18|
|               TV-14|    5|
| every Saturday a...|    3|
+--------------------+-----+
only showing top 5 rows

+----------+-----+
|imdb_score|count|
+----------+-----+
|      NULL|  575|
|       7.1|  197|
|       6.5|  194|
|       7.4|  191|
|       6.7|  188|
+----------+-----+
only showing top 5 rows

+------------+-----+
|release_year|count|
+------------+-----+
|        2019|  807|
|        2020|  792|
|        2021|  761|
|        2018|  740|
|        2017|  541|
+------------+-----+
only showing top 5 rows

### Filtering Movies and TV Shows

In [13]:
movies_df = netflix_df.filter(col("type") == "MOVIE")
tv_shows_df = netflix_df.filter(col("type") == "SHOW")

print(f"Total Movies: {movies_df.count()}")
print(f"Total TV Shows: {tv_shows_df.count()}")

Total Movies: 3744
Total TV Shows: 2106

### Top 5 genres

In [14]:
print("\nTop 5 Movie Genres:")
movies_df.groupBy("genres").count().orderBy(col("count").desc()).show(5)

print("\nTop 5 TV Shows Genres:")
tv_shows_df.groupBy("genres").count().orderBy(col("count").desc()).show(5)

Top 5 Movie Genres:
+--------------------+-----+
|              genres|count|
+--------------------+-----+
|          ['comedy']|  356|
|   ['documentation']|  220|
|           ['drama']|  216|
|['comedy', 'docum...|   87|
| ['comedy', 'drama']|   82|
+--------------------+-----+
only showing top 5 rows


Top 5 TV Shows Genres:
+-------------------+-----+
|             genres|count|
+-------------------+-----+
|        ['reality']|  107|
|          ['drama']|   96|
|  ['documentation']|   96|
|         ['comedy']|   93|
|['comedy', 'drama']|   50|
+-------------------+-----+
only showing top 5 rows

### Stopping Spark Session

In [15]:
spark.stop()